:root {
  --text-color: #ccc;
  --link-color: #ccf;
  --link-color-hover: #aaf;
}

html,
body {
  font-weight: 300;
  padding: 0;
  margin: 0;
  font-family: 'Roboto Slab', serif;
  font-size: 10px;

  color: var(--text-color);

  -webkit-font-smoothing: antialiased;
}

body {
  background-color: #111;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 50px;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  letter-spacing: 0.5px
}

a {
  color: var(--link-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-color-hover);
}

.main {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;

  max-width: 800px;
  min-width: 300px;
  max-height: 100vh;
  min-height: 300px;
}

.avatar {
  width: 35%;
  position: relative;
}

.avatar__image {
  width: 100%;
  border-radius: 50%;
}

.avatar__status {
  position: absolute;
  bottom: 0;
  right: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #333;
  font-size: 22px;
}

.info__name {
  font-size: 4rem;
  margin: 0 0 10px 0;
}

.info__profession {
  font-size: 2rem;
  font-weight: 300;
  margin: 0 0 10px 0;
}

.info__location {
  font-size: 1.4rem;
  font-weight: 300;
}

.info__location > .icon {
  width: 14px;
  height: 14px;
}

.languages {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 1.2rem;
}

.languages__item {
  margin: 0 5px;
}

.info {
  text-align: right;
  flex: 1 1 auto;
}

.info__resume {
  font-size: 1.8rem;
  border: 1px solid var(--link-color);
  border-radius: 2px;
  padding: 2px 10px;
  margin-top: 10px;
  display: inline-block;
}

.info__contacts {
  margin: 30px auto 0;
  display: flex;
  justify-content: flex-end;

  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info__contacts > a {
  display: inline-block;
  line-height: 30px;
  height: 30px;
  width: 30px;
  margin-left: 20px;
}

.info__contacts > a > .icon {
  width: 30px;
  height: 30px;
  margin-right: 15px;
}

@media screen and (max-width: 720px) {
  .main {
    flex-direction: column;
  }

  .info {
    margin-top: 30px;
    text-align: center;
  }

  .info__name {
    font-size: 2.5rem;
  }

  .info__profession {
    font-size: 1.8rem;
  }

  .info__contacts {
    justify-content: center;
  }

  .avatar {
    width: 70%;
  }
}